@page "/"

@using BlazorApp.Data.Controllers
@using BlazorApp.Data.Models
@using BlazorApp.Data;
@*@inject Tester tester*@
@inject RedditController tester

<PageTitle>Index</PageTitle>

<h1>Wall Street Bets</h1>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
@if (posts == null)
{
   <div class="spinner-outer">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
   </div>
}
else
{
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">PostText</th>
      <th scope="col">UpVotes</th>
      <th scope="col">NumAwards</th>
      <th scope="col">UpDownVoteRatio</th>
      <th scope="col">NumComments</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var post in posts)
        {
            <tr>
              <td>@post.Title</td>
              <td>@post.Author</td>
              <td>@post.PostText</td>
              <td>@post.UpVotes</td>
              <td>@post.NumAwards</td>
              <td>@post.UpDownVoteRatio</td>
              <td>@post.NumAwards</td>
            </tr>
        }
  </tbody>
</table>
}



@code {
    private List<RedditPost> posts;
    protected async override Task OnInitializedAsync()
    {
        posts = await tester.ScrapeSubReddit("wallstreetbets");
    }
}